{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <!-- favicon -->
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'assets/images/logos/favicon.png' %}" />

    <!-- css -->
    <link rel="stylesheet"
          href="{% static 'assets/css/styles.min.css' %}" />
</head>

<body>

    <!-- Body Wrapper -->
    <div class="page-wrapper"
         id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin6"
         data-sidebartype="full"
         data-sidebar-position="fixed"
         data-header-position="fixed">

        <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">

            <div class="d-flex align-items-center justify-content-center w-100">

                <div class="row justify-content-center w-100">

                    <div class="col-md-8 col-lg-6 col-xxl-3">

                        <div class="card mb-0">

                            <div class="card-body">                           
                                <a href="/"
                                   class="text-nowrap logo-img text-center d-block py-3 w-100"><h1>Login</h1>
                                </a>
                                <!-- mensagens -->
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <!-- form -->
                                <form method="POST">

                                    {% csrf_token %}

                                    <div class="mb-3">

                                        <label class="form-label">
                                            Usuário
                                        </label>

                                        <input type="text"
                                               name="username"
                                               class="form-control"
                                               required>

                                    </div>

                                    <div class="mb-4">

                                        <label class="form-label">
                                            Senha
                                        </label>

                                        <input type="password"
                                               name="password"
                                               class="form-control"
                                               required>

                                    </div>

                                   
                                    <button type="submit"
                                            class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">

                                        Entrar

                                    </button>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- jquery -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>

    <!-- bootstrap -->
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

</body>

</html>